@model UserInput
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1><br />
    <h2>To find your grade please enter the information below.</h2><br />
</div>

<div class="text-center border-dark blockquote">
    <form method="post">
        <label>Enter the total points the test is worth:</label>
        <input type="text" min="0" placeholder="0.00" name="TotalPoints" /><br />

        <label>Enter the total correct points given from the test:</label>
        <input type="text" min="0" placeholder="0.00" name="TotalCorrect" /><br />

        <input type="submit" class="btn-group-lg" asp-controller="Home" asp-action="FindGrade" method="post" value="Enter">
    </form>
</div>




